* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #fafafa;
}
h2 {
  text-align: center;
  line-height: 3rem;
}
ul li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem 0.6rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
ul li:last-child {
  margin-bottom: 2.7rem;
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.footer p {
  line-height: 2rem;
}
